nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #FFF;
  padding: 0 1.5em;
  position: fixed;
}

span {
  font-family: "Bungee", sans-serif;
  display: flex;
  align-items: center;
}

.write-tweet {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

p {
  margin-top: 35px;
  margin-bottom: 0;
}
strong:after {
  content: "\00a0";
}

.angle-dbl-down {
  background-color: inherit;
  border: none;
}

i.fa-solid.fa-angles-down {
  color: rgba(255, 0, 0, 0.782);
}

i.fa-solid.fa-angles-down:hover {
  color: rgba(110, 1, 1, 0.782);
  cursor: pointer;
}