.new-tweet {
  width: 90%;
  margin: 1em auto;
  display: none;
}

.error-msg {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.error-msg1 {
  display: none;
  border: 2px solid rgb(224, 79, 79);
  background-color: rgb(248, 149, 149);
  color: black;
  margin: 5px auto;
  padding: 5px;
}

.error-msg2 {
  display: none;
  border: 2px solid rgb(224, 79, 79);
  background-color: rgb(248, 149, 149);
  color: black;
  margin: 5px auto;
  padding: 5px;
}

textarea {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  resize: none;
  border: none;
  background-color: inherit;
  border-bottom: 3px solid #312e2ebf;
  width: 100%;
  margin-bottom: 4px;
  height: auto;
  overflow: hidden;
}

textarea:focus {
  outline: none;
}

.footer {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
}

.tweet-submit {
  background-color: rgb(9, 9, 119);
  color: white;
  border: none;
  padding: 5px;
}

.tweet-submit:hover {
  background-color: rgba(14, 14, 155, 0.974);
}

.tweet-submit:active {
  background-color: rgb(9, 9, 119);
}



