#tweet-container {
  width: 100%;
  margin: 1em auto;
}

article {
  border: 2px solid black;
  width: 90%;
  margin: 1em auto;
  padding: 12px;
}

.header-tweets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.header-tweets-profile {
  display: flex;
}

.user-profile-pic {
  width: 60px;
  margin-right: 10px;
}

.user-name {
  font-weight: 500;
}

.user-tag {
  font-weight: 600;
  color: rgba(128, 128, 128, 0.27);
}

.tweets {
  display: flex;
  flex-direction: column;
}

.tweets p {
  font-size: 1em;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.hr-line {
  border-bottom: 2px solid #312e2ebf;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

ul {
  list-style: none;
  display: flex;
  margin-top: 26px;
}

li {
  padding-left: 10px;
}

article:hover {
  box-shadow: 6px 6px rgba(128, 128, 128, 0.504);
}

li:hover {
  color: rgb(186, 169, 74);
}